extends layout
block content
  h1= title
  - let results   =[{name:"Hp",color :"silver",price:85000},{name:"Dell",color:"black",price:200000},{name:"Mac",color :"pink",price:250000}]
  let items = results
  div(class="container-fluid")
  div(class="row")
  each value,index in results
    div(class="col-sm-2" onclick=`buy(${index})`) #{value.name} #{value.color} #{value.price}
  script.
    function buy(index)
    {
      alert(`You purchased Item ${index+1}`)
    }
    a(href="laptop") Go to laptop page